.footer {
  background-color: #fbdabb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 5%;

}
h4, li{
  font-size: large;
}

.footer-image{
  width: 50%;
  border-radius: 2%;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  padding-bottom: 5%;
}

.copywright {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

ul {
  text-transform: uppercase;
  outline: none;
  border: 0;

  display: inline-block;
  font-size: 8px;


}

li {
    list-style: none;
/*     line-height: 30px; */

}
a:link, a:visited, a:active {
    text-decoration:none;
    color: inherit;
}

@media only screen and (max-width: 900px) {
  .footer {
    height: 100%;
    
  }
  .restaurant {
    width: 80%;

  }
  .footer-menu {
    width: 80%;
  }
}