:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --text-dark: #333333;
  --text-light: #EDEFEE;
  --bg-light: #FFFFFF;
  --bg-gray: #F4F4F4;
  

  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-headings: 'Markazi', serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  color: var(--text-dark);
  background-color: var(--bg-light);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}